= form_for(@organisation) do |f|
  - if @organisation.errors.any?
    #error_explanation
      %h2= #{pluralize(@organisation.errors.count, "error")} prohibited this organisation from being saved:
      %ul
        - @organisation.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :parent_id
  %p
    %label.field Name
    = f.text_field :name

  %p
    =@organisation.parent_id
  %p
    Parent id: #{params[:id]}

  .actions
    = f.submit
