= form_for(@venue) do |f|
  - if @venue.errors.any?
    #error_explanation
      %h2= #{pluralize(@venue.errors.count, "error")} prohibited this venue from being saved:
      %ul
        - @venue.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :parent_id
  %p
    %label.field Name
    = f.text_field :name

  %p
    =@venue.parent_id
  %p
    Parent id: #{params[:id]}

  .actions
    = f.submit

