<div id="accordion">
      <div>
        <h3><a href="#"><%= t($MU+ "courses")%> </a></h3>
         <ul class="menu">
				  <li><%= link_to t($MU+"current_courses_list"), courses_path %></li>
					<li><%= link_to t($MU+"add_course"), new_course_path %></li>
				  
				</ul>
      </div>
      <div>
        <h3><a href="#"><%=t($MU+"lookups") %></a></h3>
        <ul class="menu">
				  <li><%= link_to t($MU+"course_types"), course_types_path %></li>
				  <li><%= link_to t($MU+"languages"), languages_path %></li>
					<li><%= link_to t($MU+"whiteboard_types"), whiteboard_types_path %></li>
					<li><%= link_to t($MU+"locations"), locations_path %></li>
					<li><%= link_to t($MU+"quotas"), quotas_path %></li>
					<li><%= link_to t($MU+"quota_schemas"), quota_schemas_path %></li>
					
				</ul>
      </div>
      <div>

        <h3><a href="#"><%= t($MU+"user_info") %></a></h3>
        <ul class="menu">
				  <li><%= link_to t($MU+"home"), "/" %></li>
				  <li><%= link_to t($MU+"contact"), contact_path %></li>
				  <li><%= link_to t($MU+"help"), help_path %></li>
				  <li><%= link_to t($MU+"about"), about_path %></li> 
					<!-- <li><%= link_to t($MU+"user_preferences"), "register" %></li> -->
				</ul>
      </div>
    </div>
